header ul
{
font-size: 1rem;
background-color: rgb(241, 236, 233);
display:flex;
gap:2rem;
list-style: none;
margin-left: 2rem;
padding: 2rem;
position: relative;
left:45rem;
}
header{
    display:flex;
}
a
{
    text-decoration: none;
    color: black;
}
*
{
    margin:0%;
}
.caixas
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.caixas div
{
height: auto;
width: 15rem;
gap: 1rem;
}
body
{
    text-align: center;
}
figure
{
    background-color: rgb(234, 79, 13);
    height: 45rem;
    color: aliceblue;
    text-align: center;
}
img
{
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
}
#branco
{
    background-color: aliceblue;
    color:rgb(45, 44, 44);
    text-align: center;
}
.link
{
    padding: 1rem;
    background-color: rgb(10, 141, 54);
    text-align: center;
    margin: 2rem auto;
    width: 10rem;
}
#branco a
{
    color: aliceblue;
    font-size: 1rem;
}
section
{
    background-color: rgb(45, 44, 44);
    color:aliceblue;
}
footer
{
    height: 13em ;
    padding: 13rem;
    background-color:  rgb(10, 141, 54);
    color: aliceblue;
}
i
{
    background-color: rgb(234, 79, 13);
    color: aliceblue;
    padding: 2rem;
    font-size: 3rem;
}