header ul
{
font-size: 1rem;
background-color: rgb(241, 236, 233);
display:flex;
gap:2rem;
list-style: none;
margin-left: 2rem;
padding: 2rem;
position: relative;
left:45rem;
}
header{
    display:flex;
}
a
{
    text-decoration: none;
    color: black;
}
*
{
    margin:0%;
}
.box div
{
width: 15 rem;
height: 15 rem;
padding: 5rem;
margin: 5rem;
display: inline-block;
text-align: center;
}
figure
{
    background-color: rgb(234, 79, 13);
    height: 50rem;
    color: aliceblue;
    text-align: center;
}
img
{
    width: 100%;
    height: 40rem;
    margin-bottom: 4rem;
}
#branco
{
    background-color: aliceblue;
    color:rgb(45, 44, 44);
}
#branco a
{
    padding: 2rem;
    background-color: rgb(10, 141, 54);
    color: aliceblue;
}
section
{
    background-color: rgb(45, 44, 44);
    color:aliceblue;
    display: grid;
}

section div
{
    display: flex;
    width:15rem;
}